body {
	background: #d4ebf2
	text-decoration : none;
	font-family: sans-serif;
}

h1{
	background-image: url("header-image.png");
	text-align: center;
	font-size: 45px;	
}
h2{
	text-align: center;
	font-family: impact
	font-size: 30px;
	text-align: center;
}
.about{
	background-image: url("home-background.jpg");
	filter: alpha(opacity=50);
	backface-visibility: 0.5;
	font-size: 30px;
	text-align: justify;
	padding: 20px;
}

.split {
	padding: 20px;
	height: 100%;
	width: 50%;
	z-index: 1;
	top: 200px;
	overflow-x: hidden;
	padding-top: 20px;
	position: fixed;
}

.transbox {
	padding: 20px;
	background-color: #ffffff;
	opacity: 0.9;
	height: 100%;
}

.transbox-left {
	padding: 20px;
	height: 100%;
}
.left {
  left: 0;
}

.right {
  right: 0;
}

.button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.button:hover {
 	opacity: 0.6;
}


* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color:  #2e86c1 ;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}